# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
hw5_codegen/hw5_codegen

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
